ALGOLIA_APP_ID=
ALGOLIA_API_KEY=
ALGOLIA_INDEX_NAME=
ALGOLIA_ANALYTICS_DOMAIN="https://analytics.us.algolia.com"
# Read more about analytics domains here: https://www.algolia.com/doc/rest-api/analytics/
